/* Root */

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url('/assets/img/Background.jpg');
    background-size: cover;
}

.header{
    text-align: center;
    background: black;
    color: white;
    grid-area: header;
}
.wrapper{
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
    padding: 10px;
}

/* Index.html */

.containerindex{
    /* display: grid;
    justify-content: space-evenly;
    grid-template-columns: 35% 35%;
    grid-gap: 30px; */
    display: grid;
    grid-template: auto auto;
}

.containerindex > div{
    display: flex;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 120px;
    background-color: #636e72;
}

.containerindex a{
    text-decoration: none;
    color: white;
}

.footer{
    grid-area: footer;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: white;
    justify-content: center;
    align-items: center;
    height: 68px;
    margin-top: 20px;
}
/* Navbar */
nav{
    display: flex;
    background-color: #dfe6e9;
    justify-content: space-around;
    padding: 20px 0;
    color: #222f3e;
}

.logo a{
    text-decoration: none;
    color: black;
}

.logo a:hover{
    color: #636e72;
}

nav ul{
    display: flex;
    list-style-type: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a{
    text-decoration: none;
}

nav ul li a:hover{
    color: #636e72;
}

@media screen and (max-width: 768px){
    nav ul{
        width: 50%;
    }
}

/* Home */
.container{
    grid-area: main;
}
.homegame{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.descriptiongame{
    color: white;
}

.header2{
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    grid-area: header;
    margin: 5px 0px 15px 0px;
}

.imghome img{
    width: 500px;
    height: 300px;
    border-radius: 8px;
}

/* Media */
.img-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.img-container img{
    width: 400px;
    height: 200px;
}

/* Community */
.img-container2{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.img-container2 img{
    width: 200px;
    height: 200px;
}

.img-container img a:hover{
    background-color: white;
}

/* Buy */

input[type=text], textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    box-sizing: border-box;
  }

input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }



.form{
    border-radius: 5px;
    background-color: #b2bec3;
    padding: 20px;
}

.form label{
    font-size: 20px;
}

.genderradio{
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    font-size: 20px;
}

.genderradio label{
    margin-right: 10px;
}

.agreement{
    display: block;
    position: relative;
    font-size: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.btnsubmit{
    background-color: #0984e3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
  }

  .btnsubmit:hover{
    background-color: #dfe6e9;
    color: #0984e3;
  }
